<h1><p style="text-align: center;"> Changing Data Types and Math Functions </p></h1>

Welcome to Notebook 4! Here are some important notes from Notebook 3:

- You learned three ways to **standardize** inputs:

        .upper()
        .lower()
        .title()
    
- The reason we do this is because people may answer questions in different ways (different capitalization) and the computer might be expecting a certain format. It's safer to just make the input one format and write advanced code to change it into something we expect.


- You also learned about **slicing** and **indexing**. In Python, we count starting with 0 instead of 1. We use brackets [  ] and a number to reference a certain index in a string.


- If we want to pull multiple letters from a string, we use a colon between the brackets( [ : ] ). The first number before the colon is the starting index which is included in the output. The second number is the index where we want to stop, at **plus** one. Python does not pull this index value.

        [index start : index end + 1]

<h1> 4.1 Changing Data Types </h1>

<h2> I bet you're tired of talking about strings.... </h2>

![ChessUrl](https://media3.giphy.com/media/26BGqofNXjxluwX0k/200w.webp?cid=ecf05e475197021b2551910a0350e788b2848172dee7c06f&rid=200w.webp)

<h2> Let's change those strings to something else! </h2>

As stated in Notebook 1 we have (as of right now) three major data types:

    Integer (Whole Number; i.e 98)
    Float (Decimal; i.e 98.453
    String (Quotes; i.e '98')

<h2><p style="text-align: center;">Why would I want to change between Data Types?</p></h2>

In Notebook 2, using the **input()** function had every user input be a **string** data type.

***We can't do math with strings! We have to convert those strings to integers or floats first!***

Here is how we change strings to integers or floats:

In [ ]:
#Run Me!
stringvalue = '1234'
print(type(stringvalue),stringvalue)

#converting string to integer
integervalue = int(stringvalue)
#printing the type of the variable integervalue, and integervalue
print(type(integervalue),integervalue)

#converting string to float
floatvalue = float(stringvalue)
#printing the type of the variable floatvalue, and floatvalue
print(type(floatvalue),floatvalue)

As seen in the cell above, if we want to convert a string to integer we just use the **int()** function. If we want to convert a string to a float, we use the **float()** function.

In [ ]:
#Run Me! Answer the question with either an integer or a float.
q1 = input()

In [ ]:
#Run Me! And see the data type of the input
print(type(q1))

In [ ]:
#Run Me! And see my data type
q1integer = int(q1)
print(type(q1integer))

#converting to integer!

In [ ]:
#Run Me! And see my data type
q1float = float(q1)
print(type(q1float))

#converting to float!

In the two cells above, we converted the string input to be a integer and a float again.

In [ ]:
#Now we can do math! Run Me!
newq = q1integer + q1float
print('The sum of',q1integer,'and',q1float,'is',newq)

#adding our input together!

<h2><p style="text-align: center;">**Is it possible to change a integer or float to a string? Yes!**</p></h2>

In [ ]:
#Run Me!

#The variable below holds a integer
integervariable = 99

#The variable below is the one I created to hold the new variable; a string
newintegervariable = str(99)

#Printing the type to confirm I changed it to a string!
print(type(newintegervariable))

<h2> Practice by editing the code cells below </h2>
*More practice cells are available at the end of this Notebook*

In [ ]:
#Run Me!
practiceexample1 = '987'

In [ ]:
#Convert the variable above to a integer and assign to a variable
int(987)

In [ ]:
#Convert the variable above to a float and assign to a variable

In [ ]:
#Create a new variable adding them together and print the output using the print() function!

In [ ]:
#Create a integer variable and convert it to a string!

In [ ]:
#Create a float variable and convert it to a string!

In [ ]:
#Additional code cell for practice

In [ ]:
#Additional code cell for practice

<h2> ***WOOT WOOT! You've figured out how to convert a string to a number! We can do a lot more with numbers, as we'll see below!*** </h2>

![ChessUrl](https://media0.giphy.com/media/KFhv3T1seYSJuak8TN/giphy.gif?cid=ecf05e4765070df7a43da0c58af91f75e88842a57af7510d&rid=giphy.gif)

<h1> 4.2 Math Functions </h1>

So far, we've gotten rid of **strings** by converting them to **integers** and **floats**.

In this section, we're going to go over math operations with integers and floats.

![ChessUrl](https://programmingbpp.weebly.com/uploads/4/9/4/7/49477087/3252627_orig.png)

These are pretty straightfoward and you don't have to know all of these.

One I want to talk about is the ** //  Integer division** operators.

The best way to think about how the **// Integer division** operator works is that it:
    
    *Divides the two numbers and takes the answer and displays the digits to the left of the decimal point.

In [ ]:
#Run Me!

99 // 8

In the cell above, we divide 99 by 8 which is exactly 12.375. However since we use the **//** we only saw the digits to the left of the decimal point.

In [ ]:
#Run Me!
99 / 8

In the cell above, we use the '/' which gives us the exact answer. This is literally dividing 99 by 8.

<h2> Create your own math problems in the cells below! </h2>

In [ ]:
#Run Me!
#Example
answer = 8 + 9
print(answer)

In [ ]:
#Add two numbers in this cell and assign the ouput to a variable! Print the variable!

In [ ]:
#Subtract two numbers in this cell and assign the ouput to a variable! Print the variable!

In [ ]:
#Multiply two numbers in this cell and assign the ouput to a variable! Print the variable!

In [ ]:
#Divide two numbers in this cell and assign the ouput to a variable! Print the variable!

In [ ]:
#Run Me!
#Don't forget about PEMDAS! Doing math functions in Python works the exact same way as we learned in math class.

answertothisq = ((9*9) + (10/(2*1))**2)**3
print(answertothisq)

#Remember, the ** signifies exponential properties. 2**2 = 2^2

In [ ]:
#Additional code cell for practice

In [ ]:
#Additional code cell for practice

In [ ]:
#Additional code cell for practice

<h1> 4.2.2 Comparing Operators </h1>

![ChessUrl](https://i0.wp.com/makemeanalyst.com/wp-content/uploads/2017/06/Relational-Operators-in-Python.png?resize=508%2C305)

We've probably all seen these operators before in math class, and we are able to compare two or more values in Python using the notation above.

<h2><p style="text-align: center;"> Why are these important? </p></h2>

Comparing values against one another is not only used in security, but they are also used to customize functions to show change over time. If a number is smaller or bigger than other, this can show positive or negative change over time.

<h2><p style="text-align: center;"> Real Life Example </p></h2>

I bet you've forgotten your password at least once and used a code that was sent to your phone to reset your password!

Let's say you're locked out of your iCloud account and Apple texts you the code: **56789**

You type this into your computer, and to simplify a long process this is what Apple is doing in the background:

In [ ]:
#Run Me!
yourinput = 56789
expectedinput = 56789

yourinput == expectedinput

If what you entered is what they expected (True), you will be granted access to change your password. BUT if you enter something different you will receive a message saying Try Again.

Here are some examples on how we would use these operators:

In [ ]:
#Run Me!
4 > 7

In [ ]:
#Run Me!
110 > 72

In [ ]:
#Run Me!
110 <= 10

In [ ]:
#Run Me!
110 != 72

<h2> Create your own comparison problems in the cells below! </h2>

In [ ]:
#Less Than; Make this one be False!

In [ ]:
#Greater Than; Make this one be False!

In [ ]:
#Greater Than or Equal To; Make this one be True!

In [ ]:
#Less Than or Equal To; Make this one be False!

In [ ]:
#Equal To; Make this one be True!

In [ ]:
#Not Equal To; Make this one be True!

<h2> Advance Practice, give it a shot! </h2>

In [ ]:
#Step 1
#Create a variable to get a user input which should be a number

In [ ]:
#Step 2
#Create a different variable and get another user input which should be a number

In [ ]:
#Step 3
#Convert both variables to integers. You can either overwrite the variable, or create a new one to store the integer value.

In [ ]:
#Step 4
#Create a third new variable, and add the variables from Steps 1 and 2

In [ ]:
#Step 4
#Compare the two variables from steps 1 and 2. Use Less than or Greater Than

In [ ]:
#Additional code cell for anything you want to practice!

In [ ]:
#Additional code cell for anything you want to practice!

In [ ]:
#Additional code cell for anything you want to practice!

In [ ]:
#Additional code cell for anything you want to practice!

In [ ]:
#Additional code cell for anything you want to practice!

In [ ]:
#Additional code cell for anything you want to practice!

In [ ]:
#Additional code cell for anything you want to practice!

In [ ]:
#Additional code cell for anything you want to practice!

In [ ]:
#Additional code cell for anything you want to practice!

In [ ]:
#Additional code cell for anything you want to practice!

In [ ]:
#Additional code cell for anything you want to practice!

In [ ]:
#Additional code cell for anything you want to practice!

In [ ]:
#Additional code cell for anything you want to practice!

In [ ]:
#Additional code cell for anything you want to practice!

<h3><p style="text-align: center;">Congrats! You've mastered most of the Python basics! We're going to kick it up a notch in the next Notebook!</p></h3>

![ChessUrl](https://media3.giphy.com/media/LICtqQ1K8ClIQ/200.webp?cid=ecf05e477e3817531275f627d0298d6eef76d09cebf0762e&rid=200.webp)

<h1><p style="text-align: center;"> Thank you for looking over Notebook 4. Send any feedback to zap1295@yahoo.com </p></h1>

Â© June 2020 Zakir Pasha