<h1><p style="text-align: center;"> HOLLLLLD UP. What is this thing opening up in my browser, Zakir? </p></h1>
<h2> Welcome to the world of Jupyter Notebooks. </h2>

<br>Here, you can play around in Python! Go ahead and read through this workbook and follow the instructions:

<h2> Before You Start: </h2>

Below is what we call a cell. A cell has the the notation " In [                    ] " to the left of it.

![](cell)

In [ ]:
#I'm a cell!

Cells like the one above allow us to execute code. When we don't want to write code, but want to leave a comment, we put a hastag (#) on the same line as the word. 

In the above example, we have a code cell, which contains a comment saying "I am a cell!".

The examples I'm going to walk you through are written in different code cells.

Whenever you see #Run Me! in a cell, go ahead and click into it and press Shift + Enter. **Let's ignore the meaning of contents for now.** 

Try it below:

In [ ]:
#Run Me!
greeting = "What's up!"
print(greeting)

What's up!

After clicking into the cell above and pressing Shift + Enter, above should print out **What's up!** Selecting Shift+Enter and seeing an output below a code cell is called **running the cell.** 

This basically means you ran the code that was written in this cell.

Lastly, notice how the first line in the code cell above is a comment line (hashtag). 

**THE COMPUTER DOES NOT READ THIS CODE. COMMENTS ARE USED FOR THE USER (ME AND YOU) TO KEEP TRACK OF WHAT WE'RE TYPING**

<br>The following lines without hashtags are your working code lines.

<br>*greeting = "What's up!"*
<br>*print(greeting)*

This is what the computer reads to execute what you want to do. It does not read the hashtagged line.

<h2><p style="text-align: center;">To Recap:</p></h2>

1. What you're viewing right now is called a Jupyter Notebook.
2. The long rectangles that have In [          ]: to the left hand side are called code cells.
3. Hashtags are used to comment out or write notes in code cells so they are not ran in the code.
4. Working code = Code that is read by the computer. Commented code = code read by user and not computer.
5. Whenever you see "#Run Me!" in the code cells, click into it and press Shift + Enter

<h2><p style="text-align: center;"> Enough of how this environment works, let's start learning Python! </p></h2> 
![ChessUrl](https://media0.giphy.com/media/rmi45iyhIPuRG/giphy.gif?cid=ecf05e476e7be1b77ad3cd4206b4f6784bb23012d88cec35&rid=giphy.gif)

<h1><p style="text-align: center;">Notebook 1. Variables and Data Types</p></h1>

<h1> Variables </h1>

Wait! Don't leave yet...I know this already sounds nerdy but peep this:

A variable is a location to store values (words, numbers, etc.)

What's the point of a variable? One example is to think about user input. If the input is a word or sentence (we call words and sentences, strings), you can run that through a function and get a certain output. 

Variables just allow us to store values and call them during later parts of our code.

<h2>Let me show you what a variable can do: </h2>

In [ ]:
#Run Me!
chicago = 23

Boom! Above, you set the number 23 to be equal to the variable chicago.. Nothing printed out, and that's okay! We'll use the **print()** function in the next code cell to have things print out.

A variable can be called **literally anything** except numbers (I'll tell you why later). Creating a variable is just as easy as typing a word or letter (instead of chicago, we could've done x or sunflower)

Above, we set the variable chicago equal to the number 23. Let's print this variable to confirm that.

Printing a variable is as easy as print(variable)

In [ ]:
#Run Me!
print(chicago)

BAM! We have 23 printed above. You're officially coding in Python now!!!!

![ChessUrl](https://media0.giphy.com/media/xUOwFS0b2TBfJE4gYU/giphy-downsized-large.gif)

<h2> You can click into and edit the code cells below. </h2>

In [ ]:
#Practice creating your own variable and setting it equal to a number, and Run Me!

In [ ]:
#Use the print function to print the variable you created above, and Run Me!

In [ ]:
#An extra code cell for whatever you want! There's more practice code cells available at the end of the workbook!

<h1> Variables Part Two </h1>

In [ ]:
#Run Me!
x = 50
y = 33
terio = 'lengendary'

Above, you just assigned the number 50 to x, 33 to y, and the word legendary to terio
Let's confirm that by printing these variables:

In [ ]:
#Run Me!
print(x)
print(y)
print(terio)

It's not magic, you created this two cells ago! See how easy it is to assign stuff to variables? 

Notice how when we created the variable terio, we assigned it to **'legendary'**(with quotations), not **legendary** (without quotations).

The reason we assigned it to 'legendary' was because we read Python left to right. The variable comes first, and whatever you set it equal to comes second. 

When setting variables equal to letters, words, or sentences (strings) we MUST put those in quotation marks (single or double). 


See what happens here when we try to set a variable equal to a word without quotations

In [ ]:
#Run Me!
thisaint = gonnawork

The computer got mad at you and is basically saying you can't assign a variable (word without quotations) to another variable that hasn't previously been assigned to anything.

The exception for this rule is when the second variable already equals something above.

Remember the variable chicago from earlier?

In [ ]:
#Run Me!
print(chicago)

Let me show you a case when we can set a variable equal to another variable. We can create a new variable to take over whatever chicago was.

In [ ]:
#Run Me!
#See! No Quotes around either of these
newchicago = chicago

In [ ]:
#Run Me!
print(newchicago)
print(chicago)

<h3>New variable alert!</h3> 
<br>newchicago is now what chicago was equal to. The variable chicago is unchanged.</br>

thisaint = gonnawork; This didn't work because gonnawork is not assigned to anything previously

newchicago = chicago; This worked because chicago was already assigned to something (23)

**Before we move onto Data Types, is it possible to print out things directly?**

Definitely! Go ahead and use the print() function and if it's a word or sentence you want to print, put quotations (single or double) around it. If its a number, go ahead and just put the number directly.

In [ ]:
#Run Me!
print('directly')
print("I'm really hungry right now.")
print(45)

directly
I'm really hungry right now.
45

Notice in the code cell above, I use single quotations around the word directly and double quotations around the phrase I'm really hungry right now.

The reason I switched it up on you is because of that darn **apostrophe** between the letters I and m.

**If you use apostrophes in the phrase you're trying to print, you must use double quotes!**

If you use single quotes Python recognizes that apostrophe as a quote! Take a look:

In [ ]:
#Run Me!
#Using single quotes
print('I'm trying to use single quotes)

SyntaxError: invalid syntax (<ipython-input-1-d43b4b04b807>, line 1)

See in the code cell above, we started with a single quote, and typed in the apostrophe and it thought the word was over!

Here is how to to do it correctly

In [ ]:
print("I'm using double quotes to print this.")

I'm using double quotes to print this.

<h2> Practice by manually editing the code cells: </h2>

In [ ]:
#In this cell, create a variable and set it equal to a number or string, and Run Me!

In [ ]:
#Use the print() function to print out that variable, and Run Me!

In [ ]:
#Create a new variable to be equal to the variable you made 2 code cells ago, and Run Me!

In [ ]:
#Use the print() function to print out that new variable, and Run Me!

In [ ]:
#Print the words 'chocolate','vanilla','strawberry' directly using three seperate print functions, and Run Me!

In [ ]:
#An extra code cell for whatever you want! There's more practice code cells available at the end of the workbook!

<h2><p style="text-align: center;">To Recap:</p></h2>

Variables are words that hold values. Those values (for now) can be words, sentences, and numbers. You can add variables together, you can overwrite variables, and rename variables.

You cannot name a variable a number in Python. You just can't:

11 = 'hello' <- ain't gonna happen, boss!

hello = 11 <- variable named hello is equal to the *value* 11

**A variable must be one or more letters with no spaces in between**

______________________________________________________________________________________________________________________

<h1> Data Types </h1>

For now, all you have to know is that there are three data types:

Integer: like 7, 8, 9, 10<br>
Float: like 7.1, 8.444, 10.1123<br>
String: like 'Hey, I am a string'

Here are some variables assigned to different data types

In [ ]:
#Run Me!
laptop = 3
bed = 99.4
chair = "pink"

How do we see what **data type** these variables are?

In [ ]:
#Run Me!
print(type(laptop))
print(type(bed))
print(type(chair))

<h3>Why does this matter?</h3>

A lot of coding invovles math (UGH, I know right?!), and believe it or not you can't really had 3 + "pink". You can only add integers and floats together (or strings and strings) Let's see what happens when you try to add together two variables that are a string and a integer, respectively.

In [ ]:
#Run Me!
#Remember we assigned values to chair and laptop above!
chair + laptop

You probably got yelled at again, but this was because you were trying to add two different types together! Lets add two numbers (using variable names) together

In [ ]:
#Run Me!
laptop + bed

Beautiful! You should've seen the number 102.4 print out.

Now lets circle back to assign this operation to a variable to hold it!

In [ ]:
#Before running me, think about what this code does! When you have an idea....
#Run Me!
finish = laptop + bed

Let's print this **new** variable!

In [ ]:
print(finish)

<h2>Let's take a look at a common misunderstanding I want to make clear:</h2>

In [ ]:
#Run Me!
value1 = 45
value2 = '45'
value3 = 21

In [ ]:
#Before running me, think about what this code does! When you have an idea....
#Run Me!
willthiswork = value2 + value3

<h3>Wondering why the above didn't work?</h3>

**value2** is actually a **string** type! Anything with quotes around it becomes a string type.

In [ ]:
#Run Me!
#Let's see what data type these values are
print(type(value1))
print(type(value2))
print(type(value3))

You can add **value1** and **value3** together because they are the same type!

In [ ]:
#Run Me!
thiswillwork = value1 + value3

In [ ]:
print(thiswillwork)

<h2> Practice by manually editing the code cells: </h2>

In [ ]:
#Assign the three variables by following the directions:

#set this equal to a integer or float
variable1 = 

#set this equal to another integer or float
variable2 = 

#set this equal to a string
variable3 =

#set this equal to a string
variable4 = 

#Run Me!

In [ ]:
#Add variable1 and variable3 together to equal total1.....Do you think this will work?
total1 = 
print(total1)
#Run Me!

In [ ]:
#Add variable1 and variable2 together to equal total2.....Do you think this will work?
total2 = 
print(total2)
#Run Me!

In [ ]:
#Add variable3 and variable4 together to equal total3.....Do you think this will work?
total3 = 
print(total3)
#Run Me!

In [ ]:
#Find the datatypes of the variable1, variable2, variable3, and variable4 to better explain 
#why total1 did not work







#Run Me!

Remember, you can't add together strings + floats or strings + integers.

**You CAN add integers + floats because they are both numerical data types**

<h2><p style="text-align: center;">To Recap:</p></h2>

There are different data types in Python. For now, let's just worry about integers, strings, and floats. You can add integers and floats together, but you cannot add a integer and a string, or a float and a string.

You can add a string and a string! This just combines the two words/phrases (example is above (total3) and below).

**But Zakir, can you convert one type to another?**

YES. We'll go over that in Notebook 3!

______________________________________________________________________________________________________________________

<h1><p style="text-align: center;"> Additional Examples </p></h1>

Some ideas to get you started:

In [ ]:
#Run Me!
#Ex1
#Naming Example
firstname = 'Zakir'
lastname = ' Pasha'
wholename = firstname + lastname

#Notice the space I put before Pasha inside the quotation mark! This allows wholename to have a space between
#my first and last name

In [ ]:
#Run Me!
print(wholename)

#remember, this works because they are the same type! string + string

In [ ]:
#Run Me!
#Ex2
#Math
price = 99.99
discount = 10
finalprice = price - discount

In [ ]:
#Run Me!
print(finalprice)

In [ ]:
#if you want to be fancy when you print things out, you can add strings to the print function like this:
#Run Me!
print("The final price is",finalprice)

In [ ]:
#Run Me!
#Ex3
#Direct Printing
print("Hello Iowa!")
print("Des Moines")

In [ ]:
#Before running me, think about what this code does! When you have an idea....
#Hint: We haven't assigned this variable anything
#Run Me!
print(police)

<h3>Wondering why the above didn't work?</h3>

The variable, police is not assigned to anything! You're basically telling Python to print something that was never set equal to anything. If you wanted to print just the word police, add some quotes like "police" and print.

In [ ]:
#Run Me!
print("police")

In [ ]:
#Run Me!
#Ex4
#Printing Different Types Together
#!!!!! Notice how these are all different data types!
pencil = 'pencil'
priceofpencil = 2.99
phrase = "The price of a"
something = 3

In [ ]:
#Run Me!
#This will print out a complete sentence
print(phrase,pencil,'is',priceofpencil,'or',something,'dollars.')

#This will show what data type each variable is in the last code cell!
print(type(phrase))
print(type(pencil))
print(type(priceofpencil))
print(type(something))

Slow down and take a look at the above example, you can print out variables, and direct strings together to form a complete sentence.

Build some of your own stuff like this below!

______________________________________________________________________________________________________________________

<h1><p style="text-align: center;"> Practice Your Variables and Data Types Below!</p> </h1>
<br>
Create your own variables in the cells below and print them out. Or attempt to recreate the examples above! One thing to note is that you don't need to add print on a additional line all the time. You can always do the following:

present = 'now'<br>
print(present)

copy and paste the above into one of the cells below, run the cell and it will print out the word 'now'.

<h1><p style="text-align: center;"> Congrats on the start of your coding journey! </p></h1>

![ChessUrl](https://media.giphy.com/media/12SXVd8bmXdSg0/giphy.gif)

<h1><p style="text-align: center;"> Thank you for looking over Notebook 1. Send any feedback to zap1295@yahoo.com </p></h1>

© June 2020 Zakir Pasha